html, body {
  margin: 0;
  padding: 0;
}

body {
  background: url('./images/esy-state-bg.png') no-repeat top center;
  background-size: cover;
  background-color: #162134;

  font-family: 'Montserrat', sans-serif;
}

#hero {
  width: 100vw;
  height: 78vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero img {
  width: 55%;
}

#hero h3 {
  margin-top: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #fafafa;
  position: relative;
  top: -70px;
  left: 148px;
  font-weight: 200;
}

#getting-started, #intro, #buttons {
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

pre {
  width: 100%;
  background: rgba(49, 49, 49, 0.75);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.13);
  overflow: scroll;
}

 pre code {
  font-family: 'PT Mono', monospace;
  font-size: 1rem;
  color: #fff;
}

#intro {
  margin-top: 5rem;
}

#buttons {
 flex-direction: row;
 gap: 1rem;
}

#buttons a {
  margin-top: 3rem;
  margin-bottom: 5rem;
  width: 35%;
  padding: 1rem 2rem;
  border-radius: 16px;
  font-size: 1rem;
  font-weight: 600;
  color: #fafafa;
  cursor: pointer;
  text-decoration: none;
  text-align: center;

  background: rgb(185,152,255);
  background: linear-gradient(45deg, rgba(185,152,255,1) 0%, rgba(86,170,241,1) 57%);

  position: relative;
  z-index: 1;
}

#buttons a::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  background: linear-gradient(45deg, rgba(185,152,255,1) 58%, rgba(86,170,241,1) 100%);
  z-index: -1;
  transition: opacity 0.3s ease-in-out, text-shadow 0.6s ease-in-out;
  opacity: 0;
}

#buttons a.secondary::before {
  background: rgb(185,152,255);
}

#buttons a:hover::before {
  opacity: 1;
}

#buttons a.secondary {
  background: transparent;
  border: 2px solid rgb(185,152,255);
}

#buttons a:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff;
  text-decoration: none;
}

.documentation-container {
  display: grid;
  grid-template-columns: 20% 1fr;
}

.documentation-nav {
  background: #424242;
  color: #fff;
  padding: 1rem;
}

.documentation-nav ul {
  list-style: none;
  padding: 0;
}

.documentation-nav ul li {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.documentation-nav a, .documentation-nav a:visited, .documentation-nav a:active {
  color: #a0a0a0;
  text-decoration: none;
}

.documentation-nav a:hover {
  color: #fff;
  text-decoration: none;
}

.documentation-content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  height: 100vh;
  overflow-x: scroll;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.documentation-section {
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

header {
  z-index: 99999;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  background: rgba(84, 144, 249, 0.8);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
} 

header .logo {
  margin-left: 1rem;
}

header .logo img {
  height: 22px;
}

header .menu {
  flex: 1;
  display: flex;
  justify-content: end;
  padding-right: 1rem;
}

header .menu .header-item, header .menu .header-item:visited, header .menu .header-item:active {
  margin-left: 1rem;
  color: #fafafa;
  text-decoration: none;
  
}

header .menu .header-item:hover { 
  color: #fff;
  text-decoration: none;
}

header .menu .header-item.active {
  color: rgb(185,152,255);
  text-decoration: none;
  border-bottom: rgb(185,152,255) 2px solid;
}

.index-header {
  visibility: hidden;
  position: sticky;
  top: -55px;
  left: 0;

  transition: top 0.5s ease-in-out;
}
.index-header.scrolled {
  visibility: visible;
  top: 0;
  transition: top 0.5s ease-in-out;
}

.home-intro {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6x);
  border: 1px solid rgba(255, 255, 255, 0.3);

  align-items: start !important;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.home-intro {
  margin-top: 15rem !important;
  margin-bottom: 0 !important;
}

.home-intro-backdrop {
  background: rgb(22,33,52);
  background: linear-gradient(0deg, rgba(22,33,52,1) 45%, rgba(22,33,52,0) 100%);
}

.home-intro h2 {
  width: 60%;
  text-align: left;
  margin-top: 3rem;
  font-weight: 900;
  color: #fafafa;
}

.home-intro p {
  width: 60%;
  text-align: justify;
  font-weight: 400;
}

.home-intro img {
  position: absolute;
  top: -126px;
  left: 56%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 68%;
}

.buttons-backdrop {
  background: rgb(22,33,52);
  padding-top: 6rem;
  padding-bottom: 6rem;
}

footer {
  color: #fafafa;
  background: rgb(3, 13, 32);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.hljs {
  background: none !important;
}